@use '../utils' as *;
/*----------------------------------------*/
/*  2.9 Pagination
/*----------------------------------------*/

div.#{$theme-prifix}-pagination{
	& ul{
		@include flexbox();
		padding: 0;
		margin: 0;
		& li{
			display: inline-block;
			&:not(:last-child){
				margin-right: 6px;
			}
			& a,
			& span{
				display: inline-block;
				width: 50px;
				height: 50px;
				line-height: 48px;
				text-align: center;
				border: 1px solid rgba($color: #fff, $alpha: .1);
				font-size: 16px;
				font-weight: 500;
				color: var(--tp-common-white);
				border-radius: 50%;
				&:hover,
				&.current{
					background: var(--tp-common-white);
					border-color: var(--tp-common-white);
					color: var(--tp-common-black);
				}

				& svg{
					@extend %svg-2;
				}
			}
		}
	}
}